#bigkahuna .dossier-table-wrapper #tbody {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* Hide a page title & show the title editor */
#bigkahuna .branch-row .edit-url {
    display: none;
}

#bigkahuna .branch-row .active .edit-url {
    display: block;
}

#bigkahuna .original-title {
    display: block;
    font-weight: normal;
}

#bigkahuna .edit-url .btn {
  margin-left: 5px;
  line-height: 30px;
  height: 30px;
  margin-top: -3px;
}
