.dossier-table-wrapper #tbody {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* Hide a page title & show the title editor */
.branch-row .edit-url {
    display: none;
}

.branch-row .active .page-title {
    /* display: none; */
}

.branch-row .active .edit-url {
    display: block;
}

.original-title {
    display: block;
    font-weight: normal;
}
