#page-tree {
    overflow: hidden;
}

.dossier-table-wrapper #tbody {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.branches .has-collection {
    display: none !important;
}
